<h2>List of Drones</h2>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Propeller</th>
    <th>Max Speed</th>
    <th></th>
    <th></th>
  </tr>
    <% drones.forEach((drone) => { %>
      <tr>
        <td><a href="/drones/<%= drone._id %>"><%=drone.droneName%></a></td>
        <td><%=drone.propellers%></td>
        <td><%=drone.maxSpeed%></td>
        <td class="text-right"><a href="/drones/<%= drone._id %>/edit" class="btn btn-warning">Edit</a></td>
        <td><form action="/drones/<%= drone._id %>/delete" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
      </tr>
    <% }) %>
</table>
<a href='drones/new' class="btn btn-primary">New</a>
